<!DOCTYPE html>
<html>
  <style></style>
  <body>
    <h1>Chào <%= name %></h1>
    <p>Có một yêu cầu để thay đổi mật khẩu của bạn!</p>
    <p>Vui lòng nhấp vào nút bên dưới để thay đổi mật khẩu của bạn:</p>
    <a href="<%= verificationLink %>" class="button"> Cập nhật mật khẩu </a>
    <p>Email sẽ hết tác dụng sau 15 phút!</p>
  </body>
</html>
