<!DOCTYPE html>
<html>
  <style></style>
  <body>
    <h1>Chào <%= name %></h1>
    <p>Vui lòng xác minh địa chỉ email của bạn bằng cách nhấp vào nút bên dưới:</p>
    <a href="<%= verificationLink %>" class="button"> Xác minh </a>
    <p>Email sẽ hết tác dụng sau 15 phút!</p>
  </body>
</html>
